.footer{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    h5{
        font-size: 18px;
        letter-spacing: 0.2rem;
        font-weight: normal;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        margin-top: 12px;
        li{
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 18px;
            }
        }
    }
}

@media (max-width:768px) {
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}